.card-holder {
  display: flex;
  font-size: 16px;
  font-weight: normal;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  /* background-color: white; */
  padding: 2rem 1rem 1rem 1rem;
  border-bottom: solid black 2px;
}
.nameIcon {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.icon {
  padding: 0.5rem;
  background-color: grey;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.emptyTransactionsWrapper {
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  color: black;
}

.editForm {
  background-color: rgba(239, 239, 239, 0.85);
  width: 33.625rem;
  height: 21rem;
  border-radius: 1rem;
  padding: 1rem 3rem;
  text-align: left;
  border: none;
  z-index: 1;
  position: absolute;
  top: 16.19rem;
  left: 23.19rem;
}
.editForm h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  width: 100%;
}
.editFormInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgba(239, 239, 239, 0.85);
  /* padding: 1rem 0.5rem; */
  gap: 1rem;
}
.editFormInput input,
.editFormInput select {
  width: 14rem;
  height: 3.2rem;
  border-radius: 1rem;
  padding: 0 0.4rem;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.editFormInput input::placeholder {
  color: rgba(145, 145, 145, 1);
  font-weight: 400;
}

.editFormInput button {
  height: 3.19rem;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.pagination-controls {
  text-align: center;
  margin: 1rem 0;
  /* width: 8.6rem; */
}
.pagination-controls button {
  padding: 0.5rem;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 1rem;
  text-align: center;
  font-size: 0.5rem;
}

@media screen and (max-width: 768px) {
  .editForm {
    left: 10%;
    /* width: 70vw; */
  }
}
