.parent-element {
  color: rgba(255, 255, 255, 1);
  font-size: 1.75rem;
  font-weight: 700;
  width: 100%;
}

.parent-element h1 {
  font-size: 2rem;
  font-weight: 700;
}
.recent-heading {
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: 3rem;
}
.tracking-heading {
  display: flex;
  gap: 2.5rem;
  text-align: left;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* padding-right: 20rem; */
  width: 100%;
}
.parent-transaction {
  width: 55%;
}
.parent-bar {
  width: 40%;
}

@media (max-width: 850px) {
  .parent-transaction {
    width: 100%;
  }
  .parent-bar {
    width: 100%;
  }
}
