.parent-element {
  color: rgba(255, 255, 255, 1);
  font-size: 1.75rem;
  font-weight: 700;
  width: 100%;
}

.parent-element h1 {
  font-size: 2rem;
  font-weight: 700;
}

.tracking-heading {
  display: flex;
  gap: 4rem;
  text-align: left;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* padding-right: 20rem; */
}
